<div class="me">
  <p>Hello, my name is <span style="font: bold 13px/16px arial,sans-serif;"><%= escape_html(profile.display_name) %></span>.</p>
  <% if post != nil %>
  <p>My last public post was:</p>
  <div class="post" style="font-family: monospace;">
    <%= escape_html(post.object.content) %>
  </div>
  <% else %>
  <p>I have not made any public posts yet.</p>
  <% end %>
</div>
